html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

img {
  pointer-events: none;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

::selection {
  background-color: rgba(150, 150, 150, 0.2);
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.2);
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  font-size: 48px;
  /* line-height: 120%; */
}

h2 {
  font-size: 36px;
  /* line-height: 125%; */
}

h3 {
  font-size: 28px;
  /* line-height: 130%; */
}


@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
    /* line-height: 120%; */
  }

  h2 {
    font-size: 30px;
    /* line-height: 125%; */
  }

  h3 {
    font-size: 24px;
    /* line-height: 130%; */
  }
}

/* Mobile */
@media (max-width: 800px) {
  h1 {
    font-size: 30px;
    /* line-height: 120%; */
  }

  h2 {
    font-size: 28px;
    /* line-height: 125%; */
  }

  h3 {
    font-size: 20px;
    /* line-height: 130%; */
  }
}

#spartan {
  font-family: "League Spartan";
}

#quicksand {
  font-family: "Quicksand";
}



.mobile-nav {
  display: none;
}

.mobile-opened-nav {
  display: none;
}

nav {
  transition: transform 0.3s ease-in-out;
  min-width: 1100px;
  max-width: 1400px;
  width: fit-content;
  height: 60px;
  flex-shrink: 0;
  border-radius: 90px;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  top: 0;
  z-index: 99999;
  left: 50%;
  transform: translate(-50%, 0);
  /* Combining both X and Y */
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  flex-direction: row;
}

nav.hidden {
  transform: translate(-50%, -200%);
  /* Move up while keeping centered */
}

nav.visible {
  transform: translate(-50%, 0);
  /* Reset to original position */
}




.logo-img-nav {
  height: 40px;
  width: auto;
}

.logo-img-nav:hover {
  height: 40px;
  width: auto;
}

.logo-nav {
  transition: transform 0.3s;
  cursor: pointer;
}

.logo-nav:hover {
  transform: scale(1.05);
}

.nav-opt-container a {
  color: #343434;
  font-family: "League Spartan";
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
  transition: transform 0.3s, color 0.3s;
}

.nav-opt-container a:hover {
  transform: scale(1.05);
  color: black;
}

.nav-opt-container {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-button {
  width: fit-content;
  height: 40px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #1A281F;
  border: none;
  display: flex;
  align-items: center;
  transition: background 0.15s ease;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.nav-button:hover {
  background: #2f4737;
  cursor: pointer;
  transform: scale(1.05);
}

.nav-btn-text {
  color: #ffffff;
  font-family: "League Spartan";
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 32px;
  margin-right: 32px;
}











.arrowas {
  display: none;
}




#section-frm {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
  margin-bottom: 128px;
}

#section-cmm {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
}

#section-tes {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
  margin-top: 128px;
}

#section-off {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
  z-index: 9;
  margin-top: 128px;
}


#section-foot {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
  margin-top: 128px;
}









#section-hero {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
  overflow: hidden;
  padding-bottom: 32px;
}

.hero-section {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 64px;
  margin-top: 70px;
  margin-left: 256px;
  margin-bottom: 0px;
  overflow: visible;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  gap: 128px;
  height: fit-content;
}

.hero-alt-section {
  display: flex;
  gap: 8px;
  margin-bottom: 64px;
  align-items: center;
}

.hero-section-title {
  color: rgb(0, 0, 0);
  margin-bottom: 16px;
  font-size: 50px;
  line-height: 130%;
}

.hero-section-alt-text {
  color: black;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
}

.hero-section-left-side {
  height: fit-content;
  flex: 1.8;
}


.hero-section-right-side {
  overflow: visible;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.image-container {
  width: fit-content;
  margin-right: -99999px;
  height: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.top-slogan-hero {
  border-radius: 9999px;
  background: linear-gradient(91deg, #1A281F 1.09%, #5C8E6E 100%);
  width: fit-content;
  min-height: 45px;
  height: fit-content;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.slogan-style-hero {
  color: white;
  margin-left: 32px;
  margin-right: 32px;
}

.sprout-little-img {
  height: 25px;
  width: auto;
}

.hero-section-button {
  width: fit-content;
  height: 45px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #1A281F;
  border: none;
  display: flex;
  align-items: center;
  transition: background 0.15s ease;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.hero-section-button:hover {
  background: #2f4737;
  cursor: pointer;
  transform: scale(1.05);
}

.hero-section-CTA {
  color: #ffffff;
  font-family: "League Spartan";
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 32px;
  margin-right: 32px;
}

.grid-hero {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Align the grid image to the bottom of the section */
  z-index: -999;
}

.grid-hero img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  /* Ensure the image itself is aligned to the bottom */
}


@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos-slide {
  display: inline-block;
  animation: slide 20s linear infinite;
  animation-delay: 0s;
}

.logos {
  overflow: hidden;
  height: fit-content;
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(180deg, #1A281F 50%, #5C8E6E 123.81%);
  box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.30);
  white-space: nowrap;
  position: relative;
  will-change: transform;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 128px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #223328);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #223328);
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
  will-change: transform;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.slide-link {
  display: inline-block;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.slide-img {
  height: 50px;
  margin: 0 30px;
  width: auto;
  opacity: 0.8;
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform, opacity;
  filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.5));

}

.slide-link:hover .slide-img {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
}











.framework-title {
  margin-top: 92px;
}

.framework-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frm-btn-image-container1,
.frm-btn-image-container2,
.frm-btn-image-container3,
.frm-btn-image-container4,
.frm-btn-image-container5,
.frm-btn-image-container6 {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.15s ease-in-out;
}




.frm-btn-image-container1 {
  background-image: url('images/Icons/Manage\ blank.png');
}

.frm-btn1:hover .frm-btn-image-container1 {
  background-image: url('images/Icons/Manage\ hover.png');
  scale: 1.05;
}

/* Button hover effects */
.frm-btn1:hover .frm-btn-text h3,
.frm-btn2:hover .frm-btn-text h3,
.frm-btn3:hover .frm-btn-text h3,
.frm-btn4:hover .frm-btn-text h3,
.frm-btn5:hover .frm-btn-text h3,
.frm-btn6:hover .frm-btn-text h3 {
  color: rgba(88, 88, 88, 1);
}




.frm-btn-image-container2 {
  background-image: url('images/Icons/Engage\ blank.png');
}

.frm-btn2:hover .frm-btn-image-container2 {
  background-image: url('images/Icons/Engage\ hover.png');
  scale: 1.05;
}



/* Button image containers */
.frm-btn-image-container3 {
  background-image: url('images/Icons/Create\ blank.png');
}

.frm-btn3:hover .frm-btn-image-container3 {
  background-image: url('images/Icons/Create\ hover.png');
  scale: 1.05;
}

.frm-btn-image-container4 {
  background-image: url('images/Icons/Connect\ blank.png');
}

.frm-btn4:hover .frm-btn-image-container4 {
  background-image: url('images/Icons/Connect\ hover.png');
  scale: 1.05;
}

.frm-btn-image-container5 {
  background-image: url('images/Icons/Analyze\ blank.png');
}

.frm-btn5:hover .frm-btn-image-container5 {
  background-image: url('images/Icons/Analyze\ hover.png');
  scale: 1.05;
}

.frm-btn-image-container6 {
  background-image: url('images/Icons/Strat\ blank.png');
}

.frm-btn6:hover .frm-btn-image-container6 {
  background-image: url('images/Icons/Strat\ hover.png');
  scale: 1.05;
}

/* Active button states */
.frm-btn3.active .frm-btn-image-container3 {
  background-image: url('images/Icons/Create\ full.png');
}

.frm-btn4.active .frm-btn-image-container4 {
  background-image: url('images/Icons/Conect\ full.png');
}

.frm-btn5.active .frm-btn-image-container5 {
  background-image: url('images/Icons/Analyze\ full.png');
}

.frm-btn6.active .frm-btn-image-container6 {
  background-image: url('images/Icons/Strat\ full.png');
}

/* Additional CSS rules for new descriptions and images */
.desc3,
.desc4,
.desc5,
.desc6 {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.active-desc {
  display: block;
  opacity: 1;
}

.frm-img3,
.frm-img4,
.frm-img5,
.frm-img6 {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.active-img {
  display: block;
  opacity: 1;
}






.frm-btn1,
.frm-btn2,
.frm-btn3,
.frm-btn4,
.frm-btn5,
.frm-btn6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.frm-btn-text h3 {
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  transition: all 0.15s ease-in-out;
}

.framework-buttons {
  display: flex;
  gap: 32px;
  margin-top: 42px
}





.framework-desc-container {
  margin-top: 36px;
}

#desc-text h2 {
  font-size: 24px;
}






































.frm-image-container {
  width: 900px;
  height: fit-content;
  margin: 0 auto;
  box-shadow: 0px 20px 90px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 64px;
}

#frm-img img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Hide the inactive images initially */
.frm-img1,
.frm-img2 {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Show the active image */
.active-img {
  display: block;
  opacity: 1;
}

/* Hide the inactive descriptions initially */
.desc1,
.desc2 {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Show the active description */
.active-desc {
  display: block;
  opacity: 1;
}


/* Button states */
.frm-btn1.active .frm-btn-image-container1 {
  background-image: url('images/Icons/Manage\ full.png');
}

.frm-btn2.active .frm-btn-image-container2 {
  background-image: url('images/Icons/Engage\ full.png');
}

.frm-btn1.active .frm-btn-text h3,
.frm-btn2.active .frm-btn-text h3,
.frm-btn3.active .frm-btn-text h3,
.frm-btn4.active .frm-btn-text h3,
.frm-btn5.active .frm-btn-text h3,
.frm-btn6.active .frm-btn-text h3 {
  color: rgb(0, 0, 0);
}


.slider {
  display: none;
}




.nav-button-cmm {
  padding-top: 3px;
  width: fit-content;
  height: 40px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  transition: background 0.15s ease;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.nav-button-cmm:hover {
  background: rgb(230, 230, 230);
  cursor: pointer;
  transform: scale(1.05);
}

.nav-btn-text-cmm {
  color: #000000;
  font-family: "League Spartan";
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 32px;
  margin-right: 32px;
}

.cmm-bakcground-full {
  background: linear-gradient(180deg, #1A281F 50%, #5C8E6E 125.15%);
  box-shadow: 0px 27px 81.1px -3px rgba(0, 0, 0, 0.28);
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}


.background-cmm {
  display: flex;
  margin-right: 128px;
  margin-left: 128px;
  padding: 64px;
  gap: 128px;
  align-items: center;
  width: fit-content;
}

.left-side-cmm {
  flex: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-side-cmm {
  flex: 1;
  display: flex;
  align-items: stretch;
  /* Ensures the image stretches to match left-side height */
  justify-content: center;
  /* Centers the image horizontally */
}

.cmm-image {
  height: 450px;
  /* Makes the image take the full height of the container */
  width: auto;
  /* Maintains aspect ratio */

}

.cmm-title {
  color: white;
  margin-bottom: 32px;
}

.cmm-alt {
  color: #B8B8B8;
  margin-bottom: 92px;
}





.tes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tes-title {
  margin-bottom: 64px;
}


.testies {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  /* Allows items to wrap to the next line */
  justify-content: center;
  /* Centers items horizontally when they wrap */
}

#tes-fill {
  height: fit-content;
  width: 380px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 3px 26.5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  transition: box-shadow 0.15s ease-in-out
}

#tes-fill:hover {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
}

.tes-pfp {
  height: 120px;
  width: auto;
  margin-bottom: 42px;
}

.tes-text {
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 130%;
  letter-spacing: -0.2px;
}

.tes-name {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 8px;
}

.tes-eta {
  font-size: 24px;
  color: rgba(184, 184, 184, 1);
}






.toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.toggle {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.toggle input {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: -13px 19px 40.7px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9px);
  border-radius: 999px;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px;
}

.toggle-text {
  flex: 1;
  text-align: center;
  z-index: 2;
  color: white;
  border-radius: 99999px;
  transition: color 0.3s ease;
  font-size: 32px;
  font-family: "League Spartan";
  font-weight: 700;
  white-space: nowrap;
  margin-right: 32px;
  margin-left: 26px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.toggle-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 50%;
  border-radius: 9999px;
  background-color: white;
  transition: left 0.3s ease;

}

input:checked+.toggle-label .toggle-background {
  left: calc(50% + 5px);
  /* Move background to the right side */
}

input:checked+.toggle-label #toggle-text-companies {
  color: rgba(184, 184, 184, 1);
  /* Change "For companies" text color to white when inactive */
}

input:checked+.toggle-label #toggle-text-founders {
  color: #1a1a1a;
  /* Active text color for "For founders" */
}

input:not(:checked)+.toggle-label #toggle-text-companies {
  color: #1a1a1a;
  /* Active text color for "For companies" */
}

input:not(:checked)+.toggle-label #toggle-text-founders {
  color: rgba(184, 184, 184, 1);
  /* Inactive text color for "For founders" */
}

.content {
  display: none;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 8px 43.2px 0px rgba(0, 0, 0, 0.91);
  padding: 42px;
  width: 900px;
  align-items: center;
}

.content.active {
  display: block;
}

.service-section-button,
.sub-button {
  width: fit-content;
  height: 45px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #1A281F;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s ease;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.service-section-button:hover,
.sub-button:hover {
  background: #2f4737;
  cursor: pointer;
  transform: scale(1.05);
}

.service-section-CTA,
.news-section-CTA {
  color: #ffffff;
  font-family: "League Spartan";
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 5px;
}



.grid-offer {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Align the grid image to the bottom of the section */
  z-index: -1;
}

.grid-offer img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  /* Ensure the image itself is aligned to the bottom */
}


.offer-background {
  background: #1A281F;
  box-shadow: 0px 14px 26.5px 0px rgba(0, 0, 0, 0.25);
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: -2;
}

.offer-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  margin-bottom: 92px;
}

.offer-title-text {
  color: white;
  margin-top: 92px;
  margin-bottom: 42px;
}



.offer-heading {
  background: linear-gradient(97deg, #1A281F -2.4%, #5B8D6D 83.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}


.offer-text {
  color: #747474;
  font-style: normal;
  margin-bottom: 32px;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-bottom: 32px;
}

.offer-below-title h2 {
  font-size: 42px;
  margin-bottom: 16px;
}

.bulleted-list {
  display: flex;
  gap: 128px;
  margin-bottom: 42px;
}

.first-two-items,
.last-two-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ball-item {
  width: 20px;
  height: 20px;
  background-color: #5B8D6D;
  border-radius: 9999px;
}

#bullet-item {
  display: flex;
  gap: 8px;
  align-items: center;
}







.newsletter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.news-title {
  margin-top: 128px;
}

.news-alt {
  margin-bottom: 64px;
}

.news-alt h3 {
  color: #747474;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  margin-top: 16px;
}


.news-top-desc {
  color: #436851;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 24px;
}

#name,
#email {
  width: 900px;
  height: fit-content;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0px 11px 28.1px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9px);
  border: none;
  font-size: 24px;
  font-family: "Quicksand";
  font-weight: 700;
  margin-bottom: 36px;
  margin-top: 16px;
}

.button-container-news {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}






.footer-background-container {
  width: fit-content;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(180deg, #1A281F 50%, #5C8E6E 125.15%);
  box-shadow: 0px 27px 81.1px -3px rgba(0, 0, 0, 0.28);
  display: flex;
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  gap: 64px;
}


.about-sprout-footer-container {
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  width: fit-content;
  padding-bottom: 32px;
}

.foot-logo {
  height: 45px;
  margin-bottom: 8px;
}

.foot-log-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}

.nav-item-container {
  display: flex;
  gap: 64px;
}

.little-table-cont {
  color: white;
  margin-bottom: 8px;
}

.nav-table-container a {
  color: #B8B8B8;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.foot-nav-links-cont {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-table-container a:hover {
  color: #ffffff;
  scale: 1.05;
}

.aweb-container {
  width: 100%;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: -13px 19px 40.7px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9px);
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.aweb-container p {
  margin-left: 32px;
  color: #FFF;
  line-height: normal;
  font-size: 20px;
}

.nav-aweb-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aweb-container-text {
  display: flex;
  align-items: center;
  margin-right: 32px;
  gap: 8px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.aweb-image {
  height: 20px;
}

.aweb-container-text:hover {
  scale: 1.05;
  font-weight: 700;
}






.phone-nav-container-background {
  display: none;
}


.custom-slider {
  display: none;
}
































@media (max-width: 1200px) {



  .phone-nav-container-background {
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(180deg, #1A281F 50%, #5C8E6E 125.15%);
    box-shadow: 0px 27px 81.1px -3px rgba(0, 0, 0, 0.28);
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 92px;
    padding-top: 64px;
    flex-direction: column;
  }

  .nav-table-container {
    margin-bottom: 32px;
  }

  .little-table-cont {
    font-size: 30px;
  }

  .foot-divider {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 32px;
  }

  .first-foot-half,
  .second-foot-half {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
    width: 100vw;
    align-items: flex-start;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
  }

  .aweb-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
  }

  .aweb-container p {
    font-size: 16px;
    margin-left: 0px;
  }

  .aweb-container-text {
    margin-right: 0px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aweb-image {
    height: 16px;
  }

  .aweb-text {
    font-weight: 700;
    text-decoration: underline;
  }












  #section-foot {
    display: none;
  }


  #name,
  #email {
    width: 700px;
  }

  .content {
    display: none;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 43.2px 0px rgba(0, 0, 0, 0.91);
    padding: 42px;
    width: fit-content;
    align-items: center;
    margin-right: 32px;
    margin-left: 32px;
  }

  .bulleted-list {
    display: flex;
    gap: 64px;
    margin-bottom: 42px;
  }


  .custom-slider {
    display: none;
  }

  .background-cmm {
    display: flex;
    margin-right: 64px;
    margin-left: 64px;
    padding: 64px;
    gap: 92px;
    align-items: center;
    flex-direction: column;
  }

  .left-side-cmm {
    flex: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .right-side-cmm {
    flex: 1;
    display: flex;
    align-items: stretch;
    /* Ensures the image stretches to match left-side height */
    justify-content: center;
    /* Centers the image horizontally */
  }

  .cmm-image {
    height: auto;
    /* Makes the image take the full height of the container */
    width: 450px;
    /* Maintains aspect ratio */

  }


  .cmm-title {
    color: white;
    margin-bottom: 32px;
  }

  .cmm-alt {
    color: #B8B8B8;
    margin-bottom: 64px;
  }



  .arrowas {
    display: none;
  }

  .hero-section {
    gap: 32px;
    margin-left: 64px;
  }

  .logos {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .slide-img {
    height: 45px;
  }


  nav {
    display: none;
  }

  .mobile-nav {
    transition: transform 0.3s ease-in-out;
    display: flex;
    position: fixed;
    width: fit-content;
    width: 80vw;
    height: 50px;
    flex-shrink: 0;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
    flex-direction: row;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
  }

  .nav-active .mobile-nav {
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
  }



  .logo-container {
    height: 30px;
    width: 111.6px;
    background-image: url('images/Logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-active .logo-container {
    background-image: url('images/Logo\ dark.svg');
  }


  .mobile-nav.hidden {
    transform: translate(-50%, -200%);
    /* Move up while keeping centered */
  }

  .mobile-nav.visible {
    transform: translate(-50%, 0);
    /* Reset to original position */
  }

  .mobile-x-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    height: 30px;
    justify-content: center;
    cursor: pointer;
  }

  .top-line,
  .bottom-line {
    height: 2px;
    border-radius: 999px;
    background-color: #000000;
    width: 30px;
    transition: all 0.3s ease-in-out;
  }

  .nav-active .top-line,
  .nav-active .bottom-line {
    background-color: #ffffff;
    /* Change the color to white */
  }

  .top-line {
    transform-origin: center;
  }

  .bottom-line {
    transform-origin: center;
  }

  .mobile-x-container.active .top-line {
    transform: rotate(-45deg) translateY(7px);
  }

  .mobile-x-container.active .bottom-line {
    transform: rotate(45deg) translateY(-7px);
  }

  .mobile-opened-nav {
    height: 100%;
    width: 100vw;
    position: fixed;
    background: #1A281F;
    box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.30);


    backdrop-filter: blur(9px);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    transform: translateY(-100%);
    /* Initially hide it */
    transition: transform 0.3s cubic-bezier(.55, .24, .36, 1);
  }

  .mobile-opened-nav.visible {
    transform: translateY(0);
    /* Show it */
  }

  .mobile-opened-nav a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    font-family: "League Spartan";
    color: white;
    transition: transform 0.3s;
  }

  .mobile-opened-nav a:hover {
    transform: scale(1.05);
  }

  .button-container-mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 20px;
    padding: 32px;
    padding-right: 64px;
    padding-left: 64px;
  }




  .nav-button-next {
    width: fit-content;
    height: 50px;
    flex-shrink: 0;
    border-radius: 52px;
    background: rgb(255, 255, 255);

    /* bt */
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    align-items: center;
    transition: background 0.15s ease;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    bottom: 0;
    margin-top: 36px;
  }

  .nav-button-next:hover {
    background: #2f4737;
    cursor: pointer;
    transform: scale(1.05);

  }

  .nav-btn-text-next {
    font-family: "League Spartan";
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
  }



  #section-frm {
    display: none;
  }








  .phone-slider-header-title {
    margin-top: 64px;
    margin-bottom: 42px;
  }


  .slider {
    position: relative;
    text-align: center;
    display: flow-root;
    margin-right: 64px;
    margin-left: 64px;
    margin-bottom: 92px;
  }

  .slider-content {
    position: relative;
  }

  .top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
  }

  .slide {
    font-size: 40px;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
  }

  .icon1 {
    background-image: url('images/Icons/Manage\ full.png');
  }

  .icon2 {
    background-image: url('images/Icons/Engage\ full.png');
  }

  .icon3 {
    background-image: url('images/Icons/Create\ full.png');
  }

  .icon4 {
    background-image: url('images/Icons/Conect\ full.png');
  }

  .icon5 {
    background-image: url('images/Icons/Analyze\ full.png');
  }

  .icon6 {
    background-image: url('images/Icons/Strat\ full.png');
  }

  .slide .title {

    margin: 0;
  }

  .title {
    font-weight: 400;
    font-family: "League Spartan";
    font-size: 26px;
  }

  .prev,
  .next {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    filter: drop-shadow(0px 0px 8.1px rgba(0, 0, 0, 0.25));
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 99999px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }

  .prev:hover,
  .next:hover {
    background-color: #E6E6E6;
    transition: background-color 0.3s ease;
  }

  .prev:active,
  .next:active {
    background-color: #5B8D6D;
    transition: background-color 0s;
    /* Instant change on click */
  }

  .prev {
    left: 0;
    padding-right: 2px;
  }

  .next {
    right: 0;
    padding-left: 2px;
  }

  .slide .description {

    color: #000000;
    margin-bottom: 24px;
  }

  .description {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 16px;
  }

  .image-placeholder {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-radius: 20px;
    overflow: hidden;
  }

  .image-placeholder img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .dots {
    margin-top: 8px;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: #E6E6E6;
    /* Neutral color */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Animation for color changes */
  }

  .dot:hover {
    background-color: #999999;
    /* Hover color */
  }

  .actives {
    background-color: #5B8D6D;
    /* Active color */
  }






}



































@media (max-width: 850px) {






































  .nav-button-cmm {
    padding-top: 3px;
    width: fit-content;
    height: 35px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    transition: background 0.15s ease;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
  }

  .nav-button-cmm:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
    transform: scale(1.05);
  }

  .nav-btn-text-cmm {
    color: #000000;
    font-family: "League Spartan";
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
  }


















  .newsletter-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 24px;
    margin-left: 24px;
    text-align: center;
  }

  .news-title {
    margin-top: 92px;
    margin-bottom: 32px;
  }

  .news-title h1 {
    line-height: 130%;
  }

  .news-alt {
    display: none;
  }



  .news-top-desc {
    color: #436851;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 16px;
    text-align: start;
  }

  #subscriptionForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #name,
  #email {
    width: 80vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: -16px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 11px 28.1px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(9px);
    border: none;
    font-size: 20px;
    font-family: "Quicksand";
    font-weight: 700;
    margin-bottom: 36px;
    margin-top: 16px;
  }

  .button-container-news {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }























  .toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
  }

  .toggle {
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  .toggle input {
    display: none;
  }

  .toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: -13px 19px 40.7px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(9px);
    border-radius: 999px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px;
  }

  .toggle-text {
    flex: 1;
    text-align: center;
    z-index: 2;
    color: white;
    border-radius: 99999px;
    transition: color 0.3s ease;
    font-size: 22px;
    font-family: "League Spartan";
    font-weight: 700;
    white-space: nowrap;
    margin-right: 16px;
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .toggle-background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 50%;
    border-radius: 9999px;
    background-color: white;
    transition: left 0.3s ease;

  }

  input:checked+.toggle-label .toggle-background {
    left: calc(50% + 5px);
    /* Move background to the right side */
  }

  input:checked+.toggle-label #toggle-text-companies {
    color: rgba(184, 184, 184, 1);
    /* Change "For companies" text color to white when inactive */
  }

  input:checked+.toggle-label #toggle-text-founders {
    color: #1a1a1a;
    /* Active text color for "For founders" */
  }

  input:not(:checked)+.toggle-label #toggle-text-companies {
    color: #1a1a1a;
    /* Active text color for "For companies" */
  }

  input:not(:checked)+.toggle-label #toggle-text-founders {
    color: rgba(184, 184, 184, 1);
    /* Inactive text color for "For founders" */
  }

  .content {
    display: none;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 43.2px 0px rgba(0, 0, 0, 0.91);
    padding: 32px;
    width: fit-content;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
  }

  .content.active {
    display: block;
  }

  .service-section-button,
  .sub-button {
    width: fit-content;
    height: 45px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #1A281F;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.15s ease;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
  }

  .service-section-button:hover,
  .sub-button:hover {
    background: #2f4737;
    cursor: pointer;
    transform: scale(1.05);
  }

  .service-section-CTA,
  .news-section-CTA {
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 5px;
  }



  .grid-offer {
    position: absolute;
    width: 100%;
    bottom: 0;
    /* Align the grid image to the bottom of the section */
    z-index: -1;
  }

  .grid-offer img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    /* Ensure the image itself is aligned to the bottom */
  }


  .offer-background {
    background: #1A281F;
    box-shadow: 0px 14px 26.5px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: -2;
    overflow: hidden;
  }

  .offer-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    margin-bottom: 64px;
  }

  .offer-title-text {
    color: white;
    margin-top: 64px;
    margin-bottom: 32px;
  }



  .offer-heading h1 {
    background: linear-gradient(97deg, #1A281F -2.4%, #5B8D6D 83.2%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
    font-size: 36px;
  }


  .offer-text {
    color: #747474;
    font-style: normal;
    margin-bottom: 24px;
  }

  .divider {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-bottom: 24px;
  }

  .offer-below-title h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .bulleted-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
    gap: 8px;
  }

  .first-two-items,
  .last-two-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .ball-item {
    width: 10px;
    height: 10px;
    background-color: #5B8D6D;
    border-radius: 9999px;
    flex-shrink: 0
  }

  #bullet-item {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .button-text {
    font-size: 20px;
  }

  .service-section-button,
  .sub-button {
    padding-top: 2px;
    height: 35px;
    width: 100%;
  }

  .service-section-CTA,
  .news-section-CTA {
    color: #ffffff;
    font-family: "League Spartan";
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 0px;
  }























  #section-off {
    display: flex;
    justify-content: center;
    height: fit-content;
    position: relative;
    z-index: 9;
    margin-top: 92px;
  }



  .custom-slider-header-title {
    margin-top: 64px;
    margin-bottom: 42px;
  }

  .custom-slider {
    position: relative;
    text-align: center;
    display: flow-root;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 92px;
  }

  .custom-slider-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cmm-bakcground-full {
    background: linear-gradient(180deg, #1A281F 50%, #5C8E6E 125.15%);
    box-shadow: 0px 10px 30px -1px rgba(0, 0, 0, 0.28);
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .custom-slide {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 26.5px 0px rgba(0, 0, 0, 0.25);
    height: fit-content;
    margin-right: 50px;
    margin-left: 50px;
    padding: 16px;
  }

  .tes-mob-pfp {
    width: 80px;
    height: auto;
    margin-bottom: 32px;
  }

  .mob-tes-text {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.2px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 32px;
  }

  .tes-mob-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .tes-mob-eta {
    font-weight: 400;
    color: #B8B8B8;
  }


  .custom-prev,
  .custom-next {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    filter: drop-shadow(0px 0px 8.1px rgba(0, 0, 0, 0.25));
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 99999px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }




  .custom-prev {
    left: 0;
    padding-right: 2px;
  }

  .custom-next {
    right: 0;
    padding-left: 2px;
  }





  .custom-dots {
    margin-top: 8px;
  }

  .custom-dot {
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: #E6E6E6;
    /* Neutral color */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Animation for color changes */
  }

  .custom-dot:hover {
    background-color: #999999;
    /* Hover color */
  }

  .custom-actives {
    background-color: #5B8D6D;
    /* Active color */
  }

















  #section-tes {
    display: none;
  }

  .slider {
    margin-right: 32px;
    margin-left: 32px;
  }








  .background-cmm {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding: 32px;
    gap: 64px;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .left-side-cmm {
    flex: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .right-side-cmm {
    flex: 1;
    display: flex;
    align-items: stretch;
    /* Ensures the image stretches to match left-side height */
    justify-content: center;
    /* Centers the image horizontally */
  }

  .cmm-image {
    height: auto;
    /* Makes the image take the full height of the container */
    width: 100%;
    /* Maintains aspect ratio */

  }

  .cmm-alt br {
    display: none;
    /* Hide <br> tags */
  }


  .cmm-title br {
    display: none;
    /* Hide <br> tags */
  }


  .cmm-title {
    color: white;
    margin-bottom: 16px;
    line-height: 110%;
    font-size: 29px;
  }

  .cmm-alt {
    color: #B8B8B8;
    margin-bottom: 32px;
    line-height: 130%;
  }


  .arrowas {
    display: flex;
    position: relative;
    width: 45px;
    margin-right: 8px;
  }


  .hero-section-button-and-arrow {
    display: flex;
    margin-right: 53px;
    align-items: baseline;
    justify-content: center;
  }

  #section-hero {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }

  .hero-section {
    margin: 0px;
    margin-top: 42px;
  }


  .hero-section-right-side {
    display: none;
  }

  .top-slogan-hero {
    min-height: 35px;
    margin-bottom: 36px;
    letter-spacing: -0.2px;
  }

  .slogan-style-hero {
    font-size: 18px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .hero-section-title {
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.5px;
  }

  .hero-section-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 8px;
    margin-left: 8x;
    margin-top: 92px;
    margin-bottom: 32px;
  }



  .sprout-little-img {
    height: 16px;
    width: auto;
  }

  .hero-section-button {
    padding-top: 2px;
    height: 35px;
  }

  .hero-section-CTA {
    font-size: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .hero-alt-section {
    margin-bottom: 42px;
  }

  #section-hero {
    padding-bottom: 24px;
  }

  .hero-section-alt-text {
    line-height: 130%;
    letter-spacing: -0.2px;
  }











  .logos {
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.30);
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 32px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
    will-change: transform;
  }

  .logos:hover .logos-slide {
    animation-play-state: unset;
  }

  .slide-img {
    height: 35px;
    margin: 0 10px;
    opacity: 1;
    transition: none;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.5));
  }

  .slide-link:hover .slide-img {
    transform: none;
    opacity: 1;
    cursor: pointer;
  }
}