html {
  scroll-behavior: smooth;
  scroll-padding: 7rem;
}

img {
  pointer-events: none;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

::selection {
  background-color: rgba(150, 150, 150, 0.2);
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.2);
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  font-size: 48px;
  /* line-height: 120%; */
}

h2 {
  font-size: 36px;
  /* line-height: 125%; */
}

h3 {
  font-size: 28px;
  /* line-height: 130%; */
}


@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
    /* line-height: 120%; */
  }

  h2 {
    font-size: 30px;
    /* line-height: 125%; */
  }

  h3 {
    font-size: 24px;
    /* line-height: 130%; */
  }
}

/* Mobile */
@media (max-width: 800px) {
  h1 {
    font-size: 30px;
    /* line-height: 120%; */
  }

  h2 {
    font-size: 28px;
    /* line-height: 125%; */
  }

  h3 {
    font-size: 20px;
    /* line-height: 130%; */
  }
}

#spartan {
  font-family: "League Spartan";
}

#quicksand {
  font-family: "Quicksand";
}



.mobile-nav {
  display: none;
}

.mobile-opened-nav {
  display: none;
}

nav {
  transition: transform 0.3s ease-in-out;
  min-width: 1100px;
  max-width: 1400px;
  width: fit-content;
  height: 60px;
  flex-shrink: 0;
  border-radius: 90px;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  top: 0;
  z-index: 99999;
  left: 50%;
  transform: translate(-50%, 0);
  /* Combining both X and Y */
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  flex-direction: row;
}

nav.hidden {
  transform: translate(-50%, -200%);
  /* Move up while keeping centered */
}

nav.visible {
  transform: translate(-50%, 0);
  /* Reset to original position */
}


.logo-img-nav {
  height: 40px;
  width: auto;
}

.logo-img-nav:hover {
  height: 40px;
  width: auto;
}

.logo-nav {
  transition: transform 0.3s;
  cursor: pointer;
}

.logo-nav:hover {
  transform: scale(1.05);
}

.nav-opt-container a {
  color: #343434;
  font-family: "League Spartan";
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
  transition: transform 0.3s, color 0.3s;
}

.nav-opt-container a:hover {
  transform: scale(1.05);
  color: black;
}

.nav-opt-container {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-button {
  padding-top: 3px;
  width: fit-content;
  height: 40px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #1A281F;
  border: none;
  display: flex;
  align-items: center;
  transition: background 0.15s ease;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.nav-button:hover {
  background: #2f4737;
  cursor: pointer;
  transform: scale(1.05);

}

.nav-btn-text {
  color: #ffffff;
  font-family: "League Spartan";
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 32px;
  margin-right: 32px;
}




















#section-hero {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
  overflow: hidden;
  padding-bottom: 32px;
}

.hero-section {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 64px;
  margin-top: 70px;
  margin-left: 256px;
  margin-bottom: 0px;
  overflow: visible;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  gap: 128px;
  height: fit-content;
}

.hero-alt-section {
  display: flex;
  gap: 8px;
  margin-bottom: 64px;
  align-items: center;
}

.hero-section-title {
  color: rgb(0, 0, 0);
  margin-bottom: 16px;
  font-size: 50px;
  line-height: 130%;
}

.hero-section-alt-text {
  color: black;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
}

.hero-section-left-side {
  height: fit-content;
  flex: 1.8;
}


.hero-section-right-side {
  overflow: visible;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.image-container {
  width: fit-content;
  margin-right: -99999px;
  height: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.top-slogan-hero {
  border-radius: 9999px;
  background: linear-gradient(91deg, #1A281F 1.09%, #5C8E6E 100%);
  width: fit-content;
  min-height: 45px;
  height: fit-content;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.slogan-style-hero {
  color: white;
  margin-left: 32px;
  margin-right: 32px;
}

.sprout-little-img {
  height: 25px;
  width: auto;
}

.hero-section-button {
  padding-top: 3px;
  width: fit-content;
  height: 45px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #1A281F;
  border: none;
  display: flex;
  align-items: center;
  transition: background 0.15s ease;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.hero-section-button:hover {
  background: #2f4737;
  cursor: pointer;
  transform: scale(1.05);

}

.hero-section-CTA {
  color: #ffffff;
  font-family: "League Spartan";
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 32px;
  margin-right: 32px;
}

.grid-hero {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Align the grid image to the bottom of the section */
  z-index: -999;
}

.grid-hero img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  /* Ensure the image itself is aligned to the bottom */
}



















@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos-slide {
  display: inline-block;
  animation: slide 20s linear infinite;
  animation-delay: 0s;
}

.logos {
  overflow: hidden;
  height: fit-content;
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(180deg, #1A281F 50%, #5C8E6E 123.81%);
  box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.30);
  white-space: nowrap;
  position: relative;
  will-change: transform;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 128px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #223328);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #223328);
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
  will-change: transform;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.slide-link {
  display: inline-block;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.slide-img {
  height: 50px;
  margin: 0 36px;
  width: auto;
  opacity: 0.8;
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform, opacity;
  filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.5));
}

.slide-link:hover .slide-img {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
}

















































@media (max-width: 1200px) {

  .hero-section {
    gap: 32px;
    margin-left: 64px;
  }

  .logos {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .slide-img {
    height: 45px;
  }


  nav {
    display: none;
  }

  .mobile-nav {
    transition: transform 0.3s ease-in-out;
    display: flex;
    position: fixed;
    width: fit-content;
    width: 80vw;
    height: 50px;
    flex-shrink: 0;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 9;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
    flex-direction: row;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
  }

  .nav-active .mobile-nav {
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
  }



  .logo-container {
    height: 30px;
    width: 111.6px;
    background-image: url('images/Logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-active .logo-container {
    background-image: url('images/Logo\ dark.svg');
  }


  .mobile-nav.hidden {
    transform: translate(-50%, -200%);
    /* Move up while keeping centered */
  }

  .mobile-nav.visible {
    transform: translate(-50%, 0);
    /* Reset to original position */
  }

  .mobile-x-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    height: 30px;
    justify-content: center;
    cursor: pointer;
  }

  .top-line,
  .bottom-line {
    height: 2px;
    border-radius: 999px;
    background-color: #000000;
    width: 30px;
    transition: all 0.3s ease-in-out;
  }

  .nav-active .top-line,
  .nav-active .bottom-line {
    background-color: #ffffff;
    /* Change the color to white */
  }

  .top-line {
    transform-origin: center;
  }

  .bottom-line {
    transform-origin: center;
  }

  .mobile-x-container.active .top-line {
    transform: rotate(-45deg) translateY(7px);
  }

  .mobile-x-container.active .bottom-line {
    transform: rotate(45deg) translateY(-7px);
  }

  .mobile-opened-nav {
    height: 100%;
    width: 100vw;
    position: fixed;
    background-color: rgba(26, 40, 31, 1);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    transform: translateY(-100%);
    /* Initially hide it */
    transition: transform 0.3s cubic-bezier(.55, .24, .36, 1);
  }

  .mobile-opened-nav.visible {
    transform: translateY(0);
    /* Show it */
  }

  .mobile-opened-nav a {
    text-decoration: none;
    font-size: 32px;
    font-family: "Quicksand";
    color: white;
    transition: transform 0.3s;
  }

  .mobile-opened-nav a:hover {
    transform: scale(1.05);
  }




  .nav-button-next {
    width: fit-content;
    height: 50px;
    flex-shrink: 0;
    border-radius: 52px;
    background: rgba(226, 255, 165, 1);
    border: none;
    display: flex;
    align-items: center;
    transition: background 0.15s ease;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    margin-bottom: 64px;
  }

  .nav-button-next:hover {
    background: #2f4737;
    cursor: pointer;
    transform: scale(1.05);

  }

  .nav-btn-text-next {
    font-family: "League Spartan";
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
  }
}





























@media (max-width: 850px) {



  .hero-section {
    margin: 32px;
    margin-top: 42px;
  }


  .hero-section-right-side {
    display: none;
  }

  .top-slogan-hero {
    min-height: 35px;
    margin-bottom: 24px;
    letter-spacing: -0.2px;
  }

  .slogan-style-hero {
    font-size: 18px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .hero-section-title {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.5px;
  }

  .hero-section-left-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }



  .sprout-little-img {
    height: 16px;
    width: auto;
  }

  .hero-section-button {
    padding-top: 2px;
    height: 35px;
  }

  .hero-section-CTA {
    font-size: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .hero-alt-section {
    margin-bottom: 42px;
  }

  #section-hero {
    padding-bottom: 24px;
  }

  .hero-section-alt-text {
    line-height: 130%;
    letter-spacing: -0.2px;
  }











  .logos {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 32px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
    will-change: transform;
  }

  .logos:hover .logos-slide {
    animation-play-state: unset;
  }

  .slide-img {
    height: 35px;
    margin: 0 10px;
    opacity: 1;
    transition: none;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.5));
  }

  .slide-link:hover .slide-img {
    transform: none;
    opacity: 1;
    cursor: pointer;
  }
}